#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 90vw;
}

#copyright{
    color: white;

}

#logo-white{
    color:white;
}

@media screen and (max-width:600px){
    #footer{
        flex-direction: column-reverse;
        align-items: center;
    }
    #logo-white{
        margin-right: 0px;
    }
}